.banner {
	margin: var(--margin1);
	padding-left: 4vw;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 96%;
	height: 40vw;
	position: relative;
	background-image: url('../../img/banner-01.png');
	background-position: center;
	background-size: cover;
	border: solid .8vw var(--shadow1);
	border-radius: 4px;
	box-shadow: 0 0 2rem var(--shadow2);
}

.banner::before {
	content: '';
	position: absolute;
	bottom: -2%;
	left: -.8%;
	width: 101.6%;
	height: 8px;
	background: linear-gradient(90deg,#00CCFF,#FF0048,#F2FF4D,#00CCFF);
	border-radius: 0 0 4px 4px;
}

.banner h2 {
	color: white;
	text-shadow: 0.5vmin 0.5vmin var(--shadow2);
	font-size: 9vw;
	font-family: arial;
	letter-spacing: 2px;
	z-index: +1;
}

@media only screen and (min-width: 769px) {
	.banner {
		border-width: 8px;
		max-height: 4in;
	}
	.banner h2 {
		font-size: 5rem;
	}
} 