header,
footer {
	width: 100%;
	min-height: 4rem;
	background: linear-gradient(0deg,#00C0DE,#00ddff);
	background-image: url('../../img/water_still_2.png');
	background-position: top;
	background-size: 8rem;
	border: solid 4px var(--shadow1);
	box-shadow: 0 0 2rem var(--shadow2);
	color: white;
	font-family: lucida sans;
	text-shadow: 1px 2px var(--shadow2);
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: none;
	border-radius: 0 0 4px 4px;
}
footer {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	border-bottom: none;
	border-radius: 4px 4px 0 0;
}
footer * {
	display: flex;
	justify-content: center;
	align-items: center;
}
header h1 {
	font-size: 2.6rem;
}
footer h6 {
	font-size: 1.6rem;
}
