header,
footer {
	width: 100%;
	min-height: 4rem;
	background: linear-gradient(0deg,#00C0DE,#00ddff);
	background-image: url('../../img/water_still_2.png');
	background-position: top;
	background-size: 8rem;
	border: solid 4px var(--shadow1);
	box-shadow: 0 0 2rem var(--shadow2);
	color: white;
	font-family: sans;
	text-shadow: 1px 2px var(--shadow2);
}

header,
.explore-platforms,
.explore-platforms ul {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: none;
	border-radius: 0 0 4px 4px;
}

.explore-platforms {
	flex-direction: column;
	grid-column: 1 / 3;
}

.explore-platforms .title,
footer p {
	margin: 2rem auto;
}

.explore-platforms ul {
	gap: 1rem;
	flex-wrap: wrap;
}

.explore-platforms ul li a {
	padding: 0.4rem 1rem;
	color: white;
	text-shadow: 2px 2px var(--shadow2);
	background: linear-gradient(-90deg,#00ded3,#00ffd5);
	border-radius: 8px;
	border: solid 3px var(--shadow1);
	position: relative;
	transition: 0.1s ease;
}

.explore-platforms ul li a:hover {
	transform: scale(1.1);
}

header h1 {
	font-size: 2.6rem;
}

footer {
	display: grid;
	grid-template-rows: repeat(2,auto);
	grid-template-columns: repeat(2,auto);
	border-bottom: none;
	border-radius: 4px 4px 0 0;
}

footer * {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.4rem;
}