.infoBox {
	position: fixed;
	top: 16px;
	left: 16px;
	max-width: 80%;
	max-height: 80%;
	z-index: +2;

	padding: 8px 16px;
	background: #082C4C;
	border: solid 6px #286485;
	box-shadow: 0 0 0 6px black;
	font-family: sans;
	text-align: center;
	text-shadow: 1px 2px var(--shadow2);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.2rem;

	transition: 0.4s ease;

	animation-timing-function: ease;
	animation-duration: 0.6s;
	animation-name: infobox01;
	animation-fill-mode: forwards;
}

.infoBox.remove {
	animation-name: infobox02;
	opacity: 0;
}

@keyframes infobox01 { 50% { transform: scale(1.1); } }
@keyframes infobox02 { 100% { transform: translateX(-120%); } }

.infoBox .title {
	color: #EEEE00;
	font-size: 2.4rem;
	text-shadow: 2px 2px #5C5C00;
	font-weight: bold;
}

.infoBox .subtitle {
	color: white;
	font-size: 1.5rem;
}

.infoBox .text {
	color: white;
	font-size: 1.2rem;
	text-align: justify;
}

.infoBox a {
	color: #EEEE00;
	font-size: 1.4rem;
	font-family: arial;
}

.infoBox a:hover {
	cursor: pointer;
	text-decoration: underline;
}