.infoBox {
	padding: 8px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 80%;
	max-height: 80%;
	z-index: +2;
	background: #082C4C;
	border: solid 6px #286485;
	box-shadow: 0 0 0 6px black;
	text-align: center;
	font-family: Source Sans Pro;
	text-shadow: 1px 2px var(--shadow2);
	overflow-y: scroll;
}

.infoBox h3 {
	color: #EEEE00;
	font-size: 2.4rem;
	text-shadow: 2px 2px #5C5C00;
}
.infoBox p {
	color: white;
	font-size: 1.5rem;
}
.infoBox a {
	color: #EEEE00;
	font-size: 1.4rem;
	font-family: Roboto;
}
.infoBox a:hover {
	cursor: pointer;
	text-decoration: underline;
}